body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#visuel {
  background-image: url('../medias/westernBackground.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
      
}

h1 {
  text-align: center;
  margin-top: 0px;
  width: fit-content;
  margin-left: 42%;
}

header {
  height: 15%;
  background-color: #A3726B;
}


#conteneurClavier {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  background-color: #A8E8E2;
}


#newGame {
  position: relative;
  left: 90%;
  top: -43%;
  width: fit-content;
  border: solid;
  border-radius: 10px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  border-color: #5C7F4B;
  background-color: rgb(92, 127, 75);
  transition: background-color 0.3s;
}

#newGame:hover {
    
  cursor: pointer;
  background-color: rgba(179, 196, 170, 0.8);
}


#score {
    position: relative;
    bottom: 100%;
    width: fit-content;
    border: solid;
    border-radius: 10px;
    border-color: #5C7F4B;
    background-color: #5C7F4B;
    margin-left: 0.5%;
    padding-right: 3px;
    padding-left: 3px;
}

#erreur {
    position: relative;
    bottom: 80%;
    width: fit-content;
    border: solid;
    border-radius: 10px;
    border-color: #5C7F4B;
    background-color: #5C7F4B;
    margin-left: 0.5%;
    padding-right: 3px;
    padding-left: 3px;
}

#clavier {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    width: 42%;
       
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
        
}

#popup {
  display: none;
  position: absolute;
  left: 500px;
  height: 30%;
}

#popupContenu {
  background-color: #fff;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

#fermer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#suivieMot {
  text-align: center;
}

#progression {
  margin-top: 0px;
}

#potenceImg {
  margin-left: 180px;
  margin-top: 100px;
  position: absolute;
}

#finPartie  {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4CAF50;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1000;
}

#finPartieDefaite{
   display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1000;
}
